{
    "presets":[
        [
            "@babel/preset-env",{
                "targets":{
                    "browsers":["> 1%", "last 2 versions"]
                }
            }
        ],
        [
            "@babel/preset-react"
        ],
        [
            "babel-preset-es2015"
        ],
        [
            "@babel/preset-stage-2"
        ]
    ],
    "plugins":[
        "@babel/plugin-proposal-class-properties"
    ]
}